%body
  %section.app-content
    .widget
      %header.widget-header
        %h4.widget-title.pull-left New Packaging
        %span.pull-right
          .dropdown.inline-block
            Publishing
            = render 'shared/pubmode', mode: "Public", version: 1
      %hr.widget-separator/
      .widget-body
        = render 'form'
