#tab-4.tab-pane.fade{:role => "tabpanel"}
  .row
    .col-md-12
      %h4.segment-name Barcodes
      %a.btn.btn-sm.btn-view-type{"data-placement" => "bottom", "data-toggle" => "tooltip", :href => "javascript:;", :title => "Change view"}
        %i.fa.fa-th-list
  = render 'barcodes/gridview', barcodes: @barcodes
  = render 'barcodes/listview', barcodes: @barcodes
