#tab-1.tab-pane.fade{:role => "tabpanel"}
  .row
    .col-md-12
      .row
        .col-md-12
          %h4.segment-name
            = @brand.name
            Commodities
          %a.btn.btn-sm.btn-view-type{"data-placement" => "bottom", "data-toggle" => "tooltip", :href => "javascript:;", :title => "Change view"}
            %i.fa.fa-th-list
      = render 'commodities/gridview', commodities: @brand.commodities
      = render 'commodities/listview', commodities: @brand.commodities
